<%= form_with model: @person do |form| %>

  <% @person.errors.full_messages.each do |error_message| %>
    <p><%= error_message %></p>
  <% end %>

  <%= form.label :name, "Nome" %>
  <%= form.text_field :name %>

  <%= form.label :email, "Email" %>
  <%= form.text_field :email %>

  <%= form.label :age, "Idade" %>
  <%= form.text_field :age %>

  <%= form.label :address, "Endereço" %>
  <%= form.text_field :address %>

    <%= form.fields_for :dogs do |dogs_form| %>
      <h1>🐶</h1>
      <%= dogs_form.label :name, "Nome" %>
      <%= dogs_form.text_field :name %>

      <%= dogs_form.label :breed, "Raça" %>
      <%= dogs_form.text_field :breed %>

      <%= dogs_form.label :color, "Cor" %>
      <%= dogs_form.text_field :color %>
    <% end %>

  <%= form.submit %>
<% end %>