<%= form_with model: @dog do |form| %>

  <% @dog.errors.full_messages.each do |error_message| %>
    <p><%= error_message %></p>
  <% end %>

  <%= form.label :name, "Nome" %>
  <%= form.text_field :name %>

  <%= form.label :breed, "Raça" %>
  <%= form.text_field :breed %>

  <%= form.label :color, "Cor" %>
  <%= form.text_field :color %>

  <%= form.label :person_id, "Tutor" %>
  <%= form.text_field :person_id %>

  <%= form.submit %>

<% end %>